 /* .nav-bgcolor{
  background-color: white;
 }
.link-color{
  background-color: gray !important;
  color: aliceblue;
  
}   */
.image{
  position: relative;
  width:60px;
  top:0;
  height:auto;
  /* border-radius: 50%; */
  /* mix-blend-mode: color-burn; */

}